/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 60px;
}

h1 {
    color: #333;
}

h2 {
    color: #39ea54;
}

p {
    line-height: 1.5;
}

/* img {
    width: 750px;
    height: 600px;
    border: 2px solid #ccc;
} */

ul {
    list-style-type: circle;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Add the styles for the gray square background */
.background-square {
    position: fixed;
    top: 50%; /* Position it vertically at 50% from the top */
    left: 50%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the square */
    width: 96%; /* Adjust the width of the square */
    height: 100%; /* Adjust the height of the square */
    background-color: #eaeaea;
    z-index: -1; /* Places the square behind the content */
}